{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "document": true,
    "localStorage": true,
    "window": true,
    "moment": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "airbnb"
  ],
  "rules": {
    "react/jsx-indent": [0, 0],
    "react/jsx-indent-props": [0, 2],
    "import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": 0,
    "jsx-a11y/anchor-is-valid": 2,
    "no-console": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "indent": ["error", 4, {
      "SwitchCase": 1,
      "VariableDeclarator": 1,
      "outerIIFEBody": 1,
      // MemberExpression: null,
      // CallExpression: {
      // parameters: null,
      // },
      "FunctionDeclaration": {
        "parameters": 1,
        "body": 1
      },
      "FunctionExpression": {
        "parameters": 1,
        "body": 1
      }
    }],
    "no-return-assign": "off",
    // specify the maximum length of a line in your program
    // http://eslint.org/docs/rules/max-len
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],


    "arrow-body-style": ["off", "as-needed", {
      "requireReturnForObjectLiteral": false
    }],

    "no-underscore-dangle": 0,
    "no-restricted-syntax": 0
  }
}
